// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
.body {
  background: green;
  background-color: $kayakBodyBG;
}

.header {
  background: $kayaHeaderBG;
  background-color: $kayaHeaderBG;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 20px;
    h1 {
      color: $white; 
    }
    .logo_white {
      width: 128px;
    }
    .user_icon {
      width: 32px;
    }
  }
}

.sub-header {
  background: $kayakSubHeadBG;
  background-color: $kayakSubHeadBG;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px;
    a {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      .icons {
        width: 20px;
        margin-right: 2px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
    th {
      text-align: center;
    }
    .menu-divider {
      display: block; 
      height: 20px; 
      width: 2px; 
      background: #ff690f; 
    }
  }
}

.deal_of_day {
  background: #13191f;
  background-color: #13191f;
  .columns {
    th {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }
  img {
    padding-bottom: 20px;
  }
  h2 {
    color: $white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 20px;
  }
  p {
    color: $white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
  }
  span {
    color: $white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: block;
    &.save_amount {
      font-size: 14px;
    }
    &.micro_info {
      font-size: 11px;
      font-weight: 300;
      padding-bottom: 10px;
    }
    &.price {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px; 
    }
  }
  .button {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $white;
    border-radius: 5px;
    color: $kayaHeaderBG;
  }
}

.content-area {
  background: #f1f4f7;
  background-color: #f1f4f7;
  & > tbody > tr > th {
    padding-top: 0; 
  }
  .first-offer {
        padding-top: 16px !important;
  }
  .offer {
    background: #ffffff;
    background-color: #ffffff;
    .columns {
      th {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    img {
      padding-bottom: 20px;
    }
    h2 {
      color: $white;
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      padding-bottom: 20px;
    }
    p {
      color: #334755;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      padding-bottom: 20px;
    }
    span {
      color: $white;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      display: block;
      &.save_amount {
        color: #359CF5;
        font-size: 14px;
      }
      &.micro_info {
        font-size: 11px;
        font-weight: 500;
        padding-bottom: 10px;
        color: #334755;
      }
      &.price {
        color: #14181c;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px; 
      }
    }
    .button {
      background: #14181c;
      background-color: #14181c;
      display: inline-block;
      width: 150px;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 1px solid $white;
      border-radius: 3px;
      color: $white;
      &:hover {
        color: $primary-color;
      }
    }
    &.last-offer {
      .group-icons {
        width: 190px;
        padding-bottom: 0;
      }
      h4 {
        color: #334755;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
      }
      p {
        color: #334755;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}
.footer-top {
  background: #222d37;
  background-color: #222d37;
  color: $white;
  & > tbody > tr {
    vertical-align: middle;
  }
  & > tbody > tr > th {
    padding-bottom: 25px !important;
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  th {
    padding-bottom: 0px;
    padding-top: 0;
  }
  .circle-logo {
    display: block;
    margin: 0 auto;
  }
  .call-to-action {
    display: block;
    font-size: 14px;
    hyphens: none;
  }
  .info {
    display: block;
    font-size: 12px; 
    hyphens: none;
  }
  .info-section > table > tbody > tr > th {
    padding-left: 10px;
    color: $white;
  }
  .store-logos {
    img {
      height: 40px;
      width: 120px;
      display: block;
      margin: 0 auto;
    }
    .columns th {
    }
    & > table > tbody > tr > th > table > tbody > tr > th {
      padding-bottom: 5px;
    }
  }
}
.footer-social {
  background: #13181D;
  background-color: #13181D;
  & > tbody > tr > th {
   padding-top: 20px;
   padding-bottom: 20px;
  }
  th {
    padding-bottom: 0;
    padding-top: 0;
  }
  .logo-section {
    img {
      width: 128px;
    }
  }
  .social-icons {
    img {
      width: 32px;
      display: block;
      margin: 0 auto;
    }
  }
}

.footer-menu {
  background: #13181D;
  background-color: #13181D;
  border-top: 1px solid #2d3e4b;
  border-bottom: 1px solid #2d3e4b;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px;
    a {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      .icons {
        width: 20px;
        margin-right: 2px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
    th {
      text-align: center;
    }
    .menu-divider {
      display: block; 
      height: 20px; 
      width: 2px; 
      background: #2d3e4b; 
      background-color: #2d3e4b; 
    }
  }
}